# FIles and directories created by pub.
.dart_tool/
## dockerを使用するときにこれがないと死ぬ
# .packages

pubspec.lock
build/

# Conventional directory for build outpu.
build/

# env
*.env
*.envrc

# mac
.DS_Store

# db
mariadb/
